services:
  # Databases
  postgres-users:
    image: postgres:17.5-alpine3.22
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_USER_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER_LOGIN}
      - POSTGRES_DB=users_db

  postgres-courses:
    image: postgres:17.5-alpine3.22
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_USER_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER_LOGIN}
      - POSTGRES_DB=courses_db

  postgres-enrollments:
    image: postgres:17.5-alpine3.22
    ports:
      - "5434:5432"
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_USER_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER_LOGIN}
      - POSTGRES_DB=enrollments_db

  postgres-notifications:
    image: postgres:17.5-alpine3.22
    ports:
      - "5435:5432"
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_USER_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER_LOGIN}
      - POSTGRES_DB=notifications_db

  postgres-analytics:
    image: postgres:17.5-alpine3.22
    ports:
      - "5436:5432"
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_USER_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER_LOGIN}
      - POSTGRES_DB=analytics_db

  postgres-payments:
    image: postgres:17.5-alpine3.22
    ports:
      - "5437:5432"
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_USER_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER_LOGIN}
      - POSTGRES_DB=payments_db


  redis: #команда для выхода в шел редиса: docker exec -it redis redis-cli | команда для получения списка ключей "keys *" и удалить все ключи команда "flushall"
    image: redis:latest
    container_name: redis
    hostname: redis
    ports:
      - "6379:6379"

  # Services
  api-gateway:
    build: ./api-gateway
    ports:
      - "8080:8080"

  user-service:
    build: ./user-service
    ports:
      - "8081:8081"

    # ... остальные сервисы


  # Zookeeper - координатор для Kafka
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    hostname: zookeeper
    container_name: eduplatform-zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    volumes:
      - zookeeper-data:/var/lib/zookeeper/data
      - zookeeper-logs:/var/lib/zookeeper/log
    networks:
      - eduplatform-network

  # Kafka Broker
  kafka:
    image: confluentinc/cp-kafka:latest
    hostname: kafka
    container_name: eduplatform-kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'

      # Listeners configuration
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:29092,PLAINTEXT_HOST://0.0.0.0:9092

      # Настройки производительности
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0

      # Настройки логов
      KAFKA_LOG_RETENTION_HOURS: 168 # 7 дней
      KAFKA_LOG_RETENTION_BYTES: 1073741824 # 1GB
      KAFKA_LOG_SEGMENT_BYTES: 1073741824

      # JMX для мониторинга
      KAFKA_JMX_PORT: 9101
      KAFKA_JMX_HOSTNAME: localhost
    volumes:
      - kafka-data:/var/lib/kafka/data
    networks:
      - eduplatform-network

  # Schema Registry для Avro
  schema-registry:
    image: confluentinc/cp-schema-registry:7.4.0
    hostname: schema-registry
    container_name: eduplatform-schema-registry
    depends_on:
      - kafka
    ports:
      - "8081:8081"
    environment:
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: 'kafka:29092'
      SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8081

      # Настройки совместимости схем
      SCHEMA_REGISTRY_AVRO_COMPATIBILITY_LEVEL: backward
    volumes:
      - schema-registry-data:/var/lib/schema-registry
    networks:
      - eduplatform-network

  # Kafka UI для удобного управления (опционально)
  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: eduplatform-kafka-ui
    depends_on:
      - kafka
      - schema-registry
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: eduplatform
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
      KAFKA_CLUSTERS_0_SCHEMAREGISTRY: http://schema-registry:8081
    networks:
      - eduplatform-network

volumes:
  zookeeper-data:
  zookeeper-logs:
  kafka-data:
  schema-registry-data:

networks:
  eduplatform-network:
    driver: bridge

