services:
  # Databases
  postgres-users:
    image: postgres:17.5-alpine3.22
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_USER_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER_LOGIN}
      - POSTGRES_DB=users_db

  postgres-courses:
    image: postgres:17.5-alpine3.22
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_USER_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER_LOGIN}
      - POSTGRES_DB=courses_db


  # ... остальные БД

  # Kafka Infrastructure
  zookeeper:
    image: confluentinc/cp-zookeeper:latest

  kafka:
    image: confluentinc/cp-kafka:latest

  # Services
  api-gateway:
    build: ./api-gateway
    ports:
      - "8080:8080"

  user-service:
    build: ./user-service
    ports:
      - "8081:8081"

  # ... остальные сервисы