services:
  # Databases
  postgres-users:
    image: postgres:17.5-alpine3.22
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_USER_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER_LOGIN}
      - POSTGRES_DB=users_db

  postgres-courses:
    image: postgres:17.5-alpine3.22
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_USER_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER_LOGIN}
      - POSTGRES_DB=courses_db

  postgres-enrollments:
    image: postgres:17.5-alpine3.22
    ports:
      - "5434:5432"
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_USER_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER_LOGIN}
      - POSTGRES_DB=enrollments_db

  postgres-notifications:
    image: postgres:17.5-alpine3.22
    ports:
      - "5435:5432"
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_USER_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER_LOGIN}
      - POSTGRES_DB=notifications_db

  postgres-analytics:
    image: postgres:17.5-alpine3.22
    ports:
      - "5436:5432"
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_USER_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER_LOGIN}
      - POSTGRES_DB=analytics_db

  postgres-payments:
    image: postgres:17.5-alpine3.22
    ports:
      - "5437:5432"
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_USER_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER_LOGIN}
      - POSTGRES_DB=payments_db




  # Kafka Infrastructure
  zookeeper:
    image: confluentinc/cp-zookeeper:latest

  kafka:
    image: confluentinc/cp-kafka:latest

  kafdrop:
    image: obsidiandynamics/kafdrop
    container_name: kafdrop
    restart: "no"
    ports:
      - "9000:9000"
    environment:
      KAFKA_BROKERCONNECT: "kafka:29092"
    depends_on:
      - "kafka"

  redis: #команда для выхода в шел редиса: docker exec -it redis redis-cli | команда для получения списка ключей "keys *" и удалить все ключи команда "flushall"
    image: redis:latest
    container_name: redis
    hostname: redis
    ports:
      - "6379:6379"

  # Services
  api-gateway:
    build: ./api-gateway
    ports:
      - "8080:8080"

  user-service:
    build: ./user-service
    ports:
      - "8081:8081"

  # ... остальные сервисы