server:
  port: 8012

jwt:
  secret: ${JWT_SECRET:mySecretKey12345678901234567890123456789012345678901234567890}
  expiration: 3600000 # 1 час

spring:
  application:
    name: user-service

  security:
    user:
      name: admin
      password: admin

  datasource:
    url: jdbc:postgresql://localhost:5432/users_db
    #url: jdbc:postgresql://host.docker.internal:5432/users_db
    #url: jdbc:postgresql://postgres:5432/users_db
    username: ${POSTGRES_USER_LOGIN}
    password: ${POSTGRES_USER_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto:  validate
    open-in-view: false # При open-in-view=false сессия Hibernate закрывается сразу после завершения транзакции в сервисном слое. (см заметки)
    show-sql: true

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/user-service/db.changelog-master.yaml


  kafka:
    bootstrap-servers: localhost:9092, localhost:9093, localhost:9096 # Указываем второго брокера (сервера) на случай отказа первого
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      acks: all
      retries: 3
      properties:
        enable.idempotence: true
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      group-id: ${spring.application.name}
      auto-offset-reset: earliest
      properties:
        spring.json.trusted.packages: "ru.s100p.shared.events"

