server:
  port: 8012

jwt:
  expiration: 3600000 # 1 час
  internal-secret: ${INTERNAL_SECRET:anotherStrongSecretKeyForInternalCommunication0987654321}
  rsa:
    # Приватный ключ, используемый для подписи JWT. Хранится ТОЛЬКО в user-service.
    private-key: MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCWARAxsV2fKbNpmVVnRQp1EIVjVE/blqAVn+RY4AjvXx8ZmmleOnR2FI3X72nTy65uKW9WZrPaitvcipVK4nPrHPPqBQ5r6CVIJEt3fMje3hsZFaFFN/mBRkl9PoeX6qijun61+yh7F7WCb8uGGA4vd+kx0zjoemYEwZ3LzH+szLrhz1uG6pbrwcj0mrGG2kR6BJPwrapE/LHgiDD+Yt5xBOuLuWc59zh+DrDZCuA/UbVOysWLDcQ8VnPDs/L1JnQgYQr7/ZfMBbg0Fq9i9Rg+1gjs1xV7tpz/1FUEuc43F9YSKnSDSRnGV4qF/87BCDmx8L17h9lykm0RL4npLpD1AgMBAAECggEAA94E0SQL+wcAXdneb2iJw6WlAPG9r1LiwR+GOfc+AfOiBVnLYjHqnC1kQh1saacPCszPAWmiii9ZgvfLBTXxf63CBaQ9no2SAdMTgB5mTHdNxotIfg2FNyryV07Gx5cnjm3ynK7N6omcjdvx4bXBY951fiK+cMvs0RGTQJupezh3A1Uq+jN0X66BrVnhllVAZF+HdwDVjus1ylM3C8JpIYSNC8a8CUj8B22y6we63tbLiar1/OnmwVMTStxAXuB19TYdIQu4Ib6xiMbY/LMVlC0wg+HA7q/7JCPHVaQPOIQb+0Kxd/xcEp+ooFoBXpYERit8WDS40f6owvD1xownrwKBgQDE5aWtbOpaXLLqFK3B0j0y2y285KKHEBiQhYSycMvqd4LqOITOwQvtonVnIxTwctPMW0JkOxBuM6jpuaYeJCPJpNVVMU5irmRrQ9Wh2a6lKG0wngKQQrUca025wKX2W4E0RzWiojJAPqV240mO30y8OplgdjTkeJYA0CRX3ozsTwKBgQDDB/qQDeYFjizxOr/aeDE3L3z9zfQBZb9ZFy9cQ6Ye/YD6HLgHYtqUCRX5QXdJMtKvGGjoryHKrrIb6BmMDaq4Xt1zcCK1ylUJx7d66fSmDssOVlCLye8Rml8KOoO3HGDHCvyWjRnFJ2gvIBysXEhRhiigomitrFAYeg4kdGHJewKBgCi7sZi9LYZgIwtWF9Q/IDYDLeUkD5ONeud7F8aqmyT4cHbwFlmHimYw88TQdyZ/Ot3OC2Ac7/s8aLdhlsIpi9XNaezj9Glp1pBySiHfnMfCI0Spi7I4eqtUb5H8Dtl2eLZN/QSWNXsg+q4ruy35eDCAlvZjvfF+GNo2NS6Qder1AoGBALuSEuM02sMBCCxBKn89FWhT3cxjpYcqiitu5ve/gCdR/BeQQ1WnNz0kt+NvmP/nR0VrHoqa1M8P0PCR+u/9vPFxG16IvHlGTR8I22f1VnvWwmfZj8HBxpGRfFJkEIWtX05PPLq2ndBFpCeepLUIU+1EMBK94BsYHDhOOwfIfru9AoGBALr5s7bQb3GpHA9T4yCigUbEEUz1qoPXLhQ974Ao204ugxU0yaMDwp1Xhud0WQVlgdhXJzoaqITKJpvANxVFGKyUoyypAapaaYkT5tPhcCSwZBE+RziZYPzj+EoottBccEtK0LjIG4jc9fEgu4fAQctrVf6dbPSF9vvXlyGLv7Gm
    # Публичный ключ, который будет отдаваться через JWKS эндпоинт.
    public-key: MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAlgEQMbFdnymzaZlVZ0UKdRCFY1RP25agFZ/kWOAI718fGZppXjp0dhSN1+9p08uubilvVmaz2orb3IqVSuJz6xzz6gUOa+glSCRLd3zI3t4bGRWhRTf5gUZJfT6Hl+qoo7p+tfsoexe1gm/LhhgOL3fpMdM46HpmBMGdy8x/rMy64c9bhuqW68HI9JqxhtpEegST8K2qRPyx4Igw/mLecQTri7lnOfc4fg6w2QrgP1G1TsrFiw3EPFZzw7Py9SZ0IGEK+/2XzAW4NBavYvUYPtYI7NcVe7ac/9RVBLnONxfWEip0g0kZxleKhf/OwQg5sfC9e4fZcpJtES+J6S6Q9QIDAQAB

spring:
  application:
    name: user-service

  security:
    user:
      name: admin
      password: admin

  datasource:
    url: jdbc:postgresql://localhost:5432/users_db
    #url: jdbc:postgresql://host.docker.internal:5432/users_db
    #url: jdbc:postgresql://postgres:5432/users_db
    username: ${POSTGRES_USER_LOGIN}
    password: ${POSTGRES_USER_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto:  validate
    open-in-view: false # При open-in-view=false сессия Hibernate закрывается сразу после завершения транзакции в сервисном слое. (см заметки)
    show-sql: true

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/user-service/db.changelog-master.yaml


  kafka:
    bootstrap-servers: localhost:9092, localhost:9093, localhost:9096 # Указываем второго брокера (сервера) на случай отказа первого
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      acks: all
      retries: 3
      properties:
        enable.idempotence: true
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      group-id: ${spring.application.name}
      auto-offset-reset: earliest
      properties:
        spring.json.trusted.packages: "ru.s100p.shared.events"
