server:
  port: 8012

jwt:
  # Старый симметричный ключ больше не используется для подписи JWT
  # secret: ${JWT_SECRET:mySecretKey12345678901234567890123456789012345678901234567890}
  expiration: 3600000 # 1 час
  internal-secret: ${INTERNAL_SECRET:anotherStrongSecretKeyForInternalCommunication0987654321}
  rsa:
    # Приватный ключ, используемый для подписи JWT. Хранится ТОЛЬКО в user-service.
    private-key: MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCzrKbMwHHdCgqnVz8Sbkb9JJbyAwKZTX2kwR2UJbyV5z2d6wkMWEu9p6vK1V0KjfAJn2sktdorvHCs4ie3FfZAmRejX1EqK2PW0T7NNuDS27b9zw7fugbRXYnNk9u3aIDNHTft1h4uda841O4M18FmtGGZ0kqfVnBrBayK9h7fRzrVNhoZZdM0r43L+ED6fNsK/ZkKdS8LP04U2r9taCpLbQfXGav9alFGqPKFtH9V6JkcQFsC2FsDWpacyhPLG939JibdDYmMuJfZljkZdVjCrV7cvQ74VffqcTDzjXENi5nXkjWhZh56yEX4ZViO6HvcqjJ7e8hkWyu3Vja6CjNtAgMBAAECggEACMgAYvNo3Te3a5RNBdaT651VL0DMaLer01iI3Iu3ms/xZ/1rtMm/8eX29HPXF0P2nlHHR8UHg6mzDBAFhuIw5dlVmWt4KQpz17TkT91FwahxWhg7jt2lpaffq0d1rpIR8XRjHmGfmf+wb6Ogeso0rpNUTdNESGNOHTzqwOPkgF8C31VA1K41RIOlcbbcyIPvSCCuMnlR6cdGgHXxd1PA3is7dcOaZIZsTPQ7od6OtQ4GxcHyptSSyry3tjd/68Ls8T6dMaYSG52wxN+/7LD5A2upn0R2Z2xuZP6Mn1RNjPvZqR4zJpJaxNUlyKU6vzFFvHvkt8IZlxxYvRo9micclQKBgQDV24ecDxnGw3YpzxvNIR1G2RVoXBz9mQmitsvkDhRVQd9VEOq+8aXTfv0OM6IXGXCwH8aS6SYbPb22UmAvS0j5rh6htc5i7Kmg1CQyfLFjdoTG73tomib6WvuI1rc57t5VzVUPm3UoA+HXPNyVlB+U2S8ni31yjSj69OqejvuMEwKBgQDXFK+tmdbh8cAlxveWWLduyPfo0OklcxLhLZZ+4KDxvJPh2a4TAAiFgKfE0mqZLmxBPaMR+Aejp0fMy1डेंटce3ZqkJjzbWeibIPrEmZjy+4hePvNebNJALi6UzEBCVZyM4ktj+vRddHksz3lLCIcNUi+hQ+MoF26anuJV6CowwyfwKBgDZMhyIYs3LELjxvWZ+7yLM0azsUKEg7kza9Mwe0i3UaRJpUsUXKFVCd7aKteXpj+zi82K50hDhmdMTWJZXch6rdiumEP+LeNDOhqY8oGeInNY9NPwhQG5V1hGg6HEuZWtpuSCquThDa63y690cDVQF2I4Lm5/Mt5DnT9b5Mj5IBAoGBAI/6EgwVIoqHyYfAZHbplol70LCyQJBIMwg3+zmd5z9LbHdQv72KVSoBUM1pyeAW+nLF7waVUY/U6DSIme5TWNRPrDehOgYRyPfC7lX0Sw6r2kSEgacrhx8c671/xP0QdiaPNZyAFTedZsYJbA858QOEAs8MAix3CMEZlOXAfebDAoGBAMrpC4EqV7mVtIMy9dBDszm4QW/ah/XgfYpewQ760IWIuHIlGj2+S8zLwZmgWLyq4ZCuSJPR1EG1J0UOt2A53OnA/PmQekPW9JRgzB5XWve8cXISWMKPLjvp6K53cN45nsyjFxrpHBF7DBTtk2b//Udrpztc+qajm3SICXsaGzJK
    # Публичный ключ, который будет отдаваться через JWKS эндпоинт.
    public-key: MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAs6ymzMBx3QoKp1c/Em5G/SSW8gMCmU19pMEdlCW8lec9nesJDFhLvaerytVdCo3wCZ9rJLXaK7xwrOIntxX2QJkXo19RKitj1tE+zTbg0tu2/c8O37oG0V2JzZPbt2iAzR037dYeLnWvONTuDNfBZrRhmdJKn1ZwawWsivYe30c61TYaGWXTNK+Ny/hA+nzbCv2ZCnUvCz9OFNq/bWgqS20H1xmr/WpRRqjyhbR/VeiZHEBbAthbA1qWnMoTyxvd/SYm3Q2JjLiX2ZY5GXVYwq1e3L0O+FX36nEw841xDYuZ15I1oWYeeshF+GVYjuh73Koye3vIZFsrt1Y2ugozbQIDAQAB

spring:
  application:
    name: user-service

  security:
    user:
      name: admin
      password: admin

  datasource:
    url: jdbc:postgresql://localhost:5432/users_db
    #url: jdbc:postgresql://host.docker.internal:5432/users_db
    #url: jdbc:postgresql://postgres:5432/users_db
    username: ${POSTGRES_USER_LOGIN}
    password: ${POSTGRES_USER_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto:  validate
    open-in-view: false # При open-in-view=false сессия Hibernate закрывается сразу после завершения транзакции в сервисном слое. (см заметки)
    show-sql: true

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/user-service/db.changelog-master.yaml


  kafka:
    bootstrap-servers: localhost:9092, localhost:9093, localhost:9096 # Указываем второго брокера (сервера) на случай отказа первого
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      acks: all
      retries: 3
      properties:
        enable.idempotence: true
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      group-id: ${spring.application.name}
      auto-offset-reset: earliest
      properties:
        spring.json.trusted.packages: "ru.s100p.shared.events"
